@use '../../../../assets/css/variables' as *;

.loader-overlay {
  position: fixed;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.358);
  z-index: 1055;

  >div {
    color: #d7a842;
  }
}